body{
    background-color: #0a0f22;

}

#navigation{
    background-color: rgb(22, 28, 46);
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
}

#logo{
    display: inline-block;
    vertical-align: middle;
}

img[src="picture/2.png"]{
    height: 100px;
    vertical-align: middle;
}

#home{
    color: aliceblue;
    display: inline-flex; 
    align-items: center; 
    justify-content: center; 
    width: 80px; 
    height: 30px; 
    margin-left: 500px; 
    padding: 5px 10px;
    border-radius: 20px;
    transition: background-color 0.3s;
}
#reg{
    color: aliceblue;
    display: inline-flex; 
    align-items: center; 
    justify-content: center; 
    width: 80px; 
    height: 30px; 
    margin-left: 10px; 
    padding: 5px 10px;
    border-radius: 20px;
    transition: background-color 0.3s;
}
#plan{
    color: aliceblue;
    display: inline-flex; 
    align-items: center; 
    justify-content: center; 
    width: 80px; 
    height: 30px; 
    margin-left: 10px; 
    padding: 5px 10px;
    border-radius: 20px;
    transition: background-color 0.3s;
}

#home:hover, #reg:hover, #plan:hover, #down:hover{
    background-color: purple;
}


#login{
    display: inline-block;
    margin-left: 500px;  
}
img[src="picture/loginicon.png"]{
    height: 60px;
    width: 60px;
    vertical-align: middle;
    border-radius: 50%;
}
#ev{
    padding-top: 50px;
    padding-left: 50px;
    width: 600px;
    height: 350px;
    margin-top: 100px; 
    margin-left: 450px; 
    background-color: black;
}
#eltra {
    display: inline-block;

    background-color: black;
}
#elinfo{
    display: inline-block;
    color:#966919
}
#top{
    text-align: center;
}
#rec{
    margin-left: 400px;
}
#down{
    color: aliceblue;
    display: inline-flex; 
    align-items: center; 
    justify-content: center; 
    width: 80px; 
    height: 30px; 
    margin-left: 700px; 
    padding: 5px 10px;
    border-radius: 20px;
    transition: background-color 0.3s;
}

