body{
    background-color: #07081d;
}

#navigation{
    background-color: rgb(22, 28, 46);
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
}

#logo{
    display: inline-block;
    vertical-align: middle;
}

img[src="picture/2.png"]{
    height: 100px;
    vertical-align: middle;
}

#home{
    color: aliceblue;
    display: inline-flex; 
    align-items: center; 
    justify-content: center; 
    width: 80px; 
    height: 30px; 
    margin-left: 500px; 
    padding: 5px 10px;
    border-radius: 20px;
    transition: background-color 0.3s;
}
#reg{
    color: aliceblue;
    display: inline-flex; 
    align-items: center; 
    justify-content: center; 
    width: 80px; 
    height: 30px; 
    margin-left: 10px; 
    padding: 5px 10px;
    border-radius: 20px;
    transition: background-color 0.3s;
}
#plan{
    color: aliceblue;
    display: inline-flex; 
    align-items: center; 
    justify-content: center; 
    width: 80px; 
    height: 30px; 
    margin-left: 10px; 
    padding: 5px 10px;
    border-radius: 20px;
    transition: background-color 0.3s;
}

#home:hover, #reg:hover, #plan:hover {
    background-color: purple;
}


#login{
    display: inline-block;
    margin-left: 500px;  
}
img[src="picture/loginicon.png"]{
    height: 60px;
    width: 60px;
    vertical-align: middle;
    border-radius: 50%;
}

#intro{
    display: flex;
    justify-content: center;
    align-items: center;
}
#fcontain{
    display: inline-block;
    margin-left: 200px;
}
#featured{
    display: flex;
    align-items: center;
    height: 30px;
    width: 1130px;
    margin-top: 15px;
    margin-bottom: 10px;
    border-radius: 25px;;
}
#title{
    color: aliceblue;
    height: 30px;
    width: 1130px;
    border-radius: 25px;
    text-align: center;
    margin-top: 7px;
    font-size: 25px;
}
#line{
    margin-top: 5px;
    margin-left: 3px;
    height: 0px;
    width: 1120px;
    border: solid;
    border-radius: 25px;
    border-color: #966919;
}

#er{
    display: inline-block;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
}
img[src="picture/er.jpg"]{
    height: 300px;

}

#cs{
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}
img[src="picture/cs.jpg"]{
    height: 299px;
}

#blood{
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}
img[src="picture/bb.jpg"]{
    height: 301px;
}

#dark{
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}
img[src="picture/ds.jpg"]{
    height: 301px;
}

#sek{
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}
img[src="picture/sekiro.jpg"]{
    height: 300px;
}

#popww{
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}
img[src="picture/popww.png"]{
    height: 300px;
    width: 229px;
}

#popsot{
    display: inline-block;
}
img[src="picture/popsot.jpg"]{
    height: 300px;
    width: 220px;
}


#imagecontain {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-left: 130px;
    margin-top: 20px;
    width: 900px;
    height: 500px;
    background-color: black;
}

.featured-game img {
    width: 900px; 
    height: 400px; 
    object-fit: contain; 
}

#fe{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -200px;
    width: 1500px;
    background-color: #0a0f22;
}
#games{
    width:1500px ;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    margin-left: -200px;
    background-color: #0a0f22;
}

#down{
    color: #966919;
    display: inline-block;
    margin-left: 500px;
    margin-top: 20px;
    font-size: 30px;
    
}

#price{
    margin-left: 150px;
}
#p1, #p2, #p3 {
    display: inline-block;
    margin-right: 20px;
    position: relative;
    overflow: hidden;
}

#p1::after, #p2::after, #p3::after {
    content: '';
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, transparent 0%, rgba(255, 255, 255, 0.5) 50%, transparent 100%);
    animation: loading 1.5s infinite;
    animation-timing-function: linear;
}

@keyframes loading {
    0% {
        top: -100%;
    }
    100% {
        top: 100%;
    }
}
#faq{
    background-color: #191b5b;
    margin-top: 50px;
    padding-top: 20px;
    padding-left: 300px;
    margin-left: -200px;
}
#end{
    margin-left: -190px; 
    padding-left: 10px;
}
